body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: rgba(98, 98, 98, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgba(53, 123, 59, 0.8);
}

.home {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1635492346092-729ba774b9e4?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.home .overlay-content {
    z-index: 1;
    color: white;
}

.booking-form {
    display: none;
}

.info-popup {
    display: none;
}

.city-info {
    margin-bottom: 20px;
}

.city-info h3 {
    margin-bottom: 10px;
}
/* Aggiungi un colore di sfondo di fallback */
body {
    background-color: #ffffff;
}

/* Rimuovi il bordo grigio sul fondo */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Rimuovi il colore di sfondo grigio dal body */
body {
    background-color: transparent;
}

/* Rimuovi il colore di sfondo grigio dalle sezioni */
.home .fullscreen-bg {
    background-color: transparent;
}

.home .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
